<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sms77>
            <event_on_customer_reg>
                <enabled>0</enabled>
                <text>Welcome {0} {1}. Just confirming we got your number right. Is your email {2}?</text>
            </event_on_customer_reg>

            <event_on_shipment>
                <enabled>0</enabled>
                <text>Hi {1}. Your Order #{0} has been marked as shipped: {2}. Enjoy!</text>
            </event_on_shipment>
        </sms77>
    </default>
</config>