<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sms77_Api::menu" title="sms77io" translate="title" module="Sms77_Api"
             sortOrder="100" parent="Magento_Backend::marketing_communications"
             action="adminhtml/system_config/edit/section/sms77" resource="Sms77_Api::settings"/>
    </menu>
</config>