<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sms77" translate="label" type="text" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>sms77io</label>
            <tab>general</tab>
            <resource>Sms77_Api::settings</resource>

            <group id="general" translate="label" type="text" showInDefault="1"
                   showInWebsite="1" showInStore="0">
                <label>General</label>

                <field id="apiKey" translate="label,comment" type="text" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <comment>Get yours now @ https://www.sms77.io/</comment>
                    <validate>required-entry validate-length</validate>
                </field>
            </group>

            <group id="event_on_shipment" translate="label" type="text" showInDefault="1"
                   showInWebsite="1" showInStore="0">
                <label>Send After Shipment</label>

                <field id="enabled" translate="label" type="select" showInDefault="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="text" translate="label,comment" type="text" showInDefault="1" canRestore="1"
                       showInWebsite="1" showInStore="1">
                    <label>Message</label>
                    <validate>required-entry validate-length</validate>
                </field>

                <field id="receivers" translate="label,comment" type="text"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Additional / Default Receiver(s)</label>
                    <comment>Separated by comma eg: +49012345,Peter</comment>
                    <validate>required-entry validate-length</validate>
                </field>

                <field id="internal" translate="label,comment" type="select" showInDefault="1" canRestore="1">
                    <label>Internal</label>
                    <comment>Sends message to receiver(s), but not to the customer.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="event_on_customer_reg" translate="label" type="text" showInDefault="1"
                   showInWebsite="1" showInStore="0">
                <label>Send After Customer Registration</label>

                <field id="enabled" translate="label" type="select" showInDefault="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="text" translate="label,comment" type="text" canRestore="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message</label>
                    <validate>required-entry validate-length</validate>
                </field>

                <field id="receivers" translate="label,comment" type="text"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Additional / Default Receiver(s)</label>
                    <comment>Separated by comma eg: +49012345,Peter</comment>
                    <validate>required-entry validate-length</validate>
                </field>

                <field id="internal" translate="label,comment" type="select" showInDefault="1" canRestore="1">
                    <label>Internal</label>
                    <comment>Sends message to receiver(s), but not to the customer.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="event_on_submit_order" translate="label" type="text" showInDefault="1"
                   showInWebsite="1" showInStore="0">
                <label>Send After Order Submission</label>

                <field id="enabled" translate="label" type="select" showInDefault="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="text" translate="label" type="text" canRestore="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message</label>
                    <validate>required-entry validate-length</validate>
                </field>

                <field id="receivers" translate="label,comment" type="text"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Additional / Default Receiver(s)</label>
                    <comment>Separated by comma eg: +49012345,Peter</comment>
                    <validate>required-entry validate-length</validate>
                </field>

                <field id="internal" translate="label,comment" type="select" showInDefault="1" canRestore="1">
                    <label>Internal</label>
                    <comment>Sends message to receiver(s), but not to the customer.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>