<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sms77" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>sms77io</label>
            <tab>general</tab>
            <resource>Sms77_Api::settings</resource>

            <group id="general" translate="label,comment" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="0">
                <label>General</label>

                <field id="apiKey" translate="label,comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <comment>Get yours now @ https://www.sms77.io/</comment>
                    <validate>required-entry validate-length</validate>
                </field>
            </group>

            <group id="texts" translate="label,comment" type="text" sortOrder="20" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Event Messages</label>

                <field id="textOnShipment" translate="label,comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>After Shipment</label>
                    <comment>Message content on Shipment</comment>
                    <validate>required-entry validate-length</validate>
                </field>
            </group>
        </section>
    </system>
</config>